IG_USER_ID=your_instagram_business_user_id
IG_ACCESS_TOKEN=your_long_lived_instagram_graph_token
NVIDIA_API_KEY=your_nvidia_api_key
NVIDIA_MODEL=meta/llama-3.1-70b-instruct
PUBLIC_REPO_RAW_BASE=https://raw.githubusercontent.com/YOUR_USERNAME/YOUR_REPO/main
